<h1>Formulas#conversion</h1>
<p>Find me in app/views/formulas/conversion.html.erb</p>
<form accept-charset="UTF-8" action="/conversion" method="get" class="" >
  <label for="dinero">Moneda</label>
<select class="form-control" id="dinero">
  <option name="dolar" value="dollar">Dollar</option>
  <option name="euros" value="euros">Euros</option>
  <option name="yen" value="yen">Yen</option>
  <option name="rublo" value="rublo">Rublo</option>
</select>
<button type="submit">Aceptar</button>
</form>
<%= @dinero %>
